.about-app{
    display: flex;
   
     figure{
      max-width: 45em;
      margin-right: 1em;
      @media #{$ids__mobile} {
        max-width: 15em;
      }
    } 
  
  }

  
  .about-app_icons {
    
      h3{
        letter-spacing: 0.1em;
      }
      figure{
        display: flex;
        max-width: 13em;
        img{
          margin-right: 1em;
        }
      }
    }