footer.dark {
  
  // padding: 2em 5em 0 9em;
  // width: 100%;
  
  // .ids__grid-cell{
  //   display: flex;
  //   flex-direction: column;

  //   a{
  //     margin: 0.5em 0 ;
  //   }
  // }  
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h4 {
    text-align: center;
    color:rgba(var(--ids__background-RGB), 1);
    opacity: 0.6;
    &:first-child{
      font-weight: 500;
    }
  }
}

.socials {
  display: flex;
  
  a {
    margin-right: 1em;
    
  }
}

// a.nav-item-black {
//   color: rgba(var(--ids__background-RGB), 1);
//   transition: color 170ms ease-in-out, background-color 170ms ease-in-out;

//   &:hover {
//     opacity: 0.6;
//   }
// }