.footer {
  background-color: black; 
  min-height: 27em;
  padding: 2em 5em 0 9em;
  min-width: 100%;

  @media (max-width: 1566px){
    padding: 2em 5em 0 4em;

  }
  @media #{$ids__mobile} {
  }
  
  .ids__grid-cell{
    display: flex;
    flex-direction: column;

    a{
      font-size: 1.5em;
      margin: 0.5em 0 ;
    }
  }
  
}
.footer-address{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    text-align: center;
    font-size: 1.8em;
    color:rgba(var(--ids__background-RGB), 1);
    opacity: 0.6;
    &:first-child{
      font-weight: 500;
    }
  }
}

.socials {
  display: flex;
  
  a {
    margin-right: 1em;
    
  }
}
