header {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.logo-container {
  display: block;
  max-width: 13em;
  cursor: pointer;  
}

.header-img {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 0.3em;
  a{
    font-weight: 500; 
    margin: 0 0.38em;
  }
}

.dropdown {
    overflow: hidden;
    
    &:hover {
      .dropdown-content {
        display: block;
        transition: 4ms;
        transition: left 0s .2s linear,transform 0s .2s linear,opacity .2s ease-out;
      }
    }
  }

  

  .dropdown-content {
  display: none;
  position: absolute;
  margin-left: -1.5em;
  background-color: rgba(var(--ids__background-RGB), 1);
  min-width: 9.5em;
  z-index: 2;
  transition: left 0s .2s linear,transform 0s .2s linear,opacity .2s ease-out;
  
    a{ 
      padding-top: 0.7em;
      font-weight: 500;
      padding-left: 1.5em;
      padding-right: 1.5em;
      display: block;
      text-align: left;
      opacity: 0.6; 

      &:first-child{
         margin-top: 1.9em;
      }
      &:last-child{
        padding-bottom:  1.3em;
      }
     &:hover{
      opacity: 1;
     }
  }
}


.search{
  background-image: url('/images/magnifier.png');
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  padding: 0.44em;
}
