header {
  display: flex;
  justify-content: space-between;
  padding: 0.3em 0.9em 0 0.3em;
  margin-bottom: 1em;
}
.logo-container {
  display: block;
  max-width: 11em;
}

nav {
  display: flex;
  align-items: center;

  .logo-container {
    display: block;
    max-width: 10em;
  }
  a.logo-container {
    &:hover {
      filter: brightness(120%);
    }
    .logo-search{
      max-width: 5em;
    }
  }

  .nav-item {
    &:not(:last-child) {
      margin-right: 0.7em;
    }

    a {
      border-bottom: none;
      &:hover {
        border-bottom: none;
      }
    }
  }
}

.slogan {
  display: flex;
}

.header-img {
  position: relative;
}
