
.safety-page {
    a {
        font-weight: 600;

        @media #{$ids__mobile} {
            font-size: 1em;
        }
    }

    li {

        @media #{$ids__mobile} {
            font-size: 1.12em;
        }
    }

}

.nav-safety {
    display: inline-flex;
    background-color: rgba(var(--ids__accent-RGB), 1);
    padding: 0.4em 0.4em;
    border-radius: 0.2em;

    @media #{$ids__mobile} {
        flex-direction: column;
        padding: 1em 3em 1em 0.4em;
    }

    .nav-block {
        margin-right: 0.7em;

        @media #{$ids__mobile} {
            margin-top: 1.3em;
        }

        a {
            border-bottom: none;

            @media #{$ids__mobile} {
                font-size: 1.3em;
            }
        }

        &:first-of-type {
            padding-left: 1.2em;
            
            @media #{$ids__mobile} {
                margin-top: 0;
                padding-left: 0;
            }
        }

        &:last-of-type {
            padding-right: 0.5em;

            @media #{$ids__mobile} {
                padding-right: 0;
            }

        }
    }
}

.text-container {
     h3 {
        margin-bottom: 0.5em;
    }
    p {
        margin-bottom: 0.5em;
    }
}

.content-cntainer {
    display: flex;
    justify-content: space-between;

    @media #{$ids__mobile} {
        flex-direction: column;
    }

    figure {
        max-width: 30em;
    }

}



#safe-parking {
  
    figure {

        @media #{$ids__mobile} {
            max-width: 15em;
        }
    }
}

#safe-vehicles {


    img {
        min-width: 27em;
    }

}


#safe-partners {
    
    .ids__grid {
        align-items: center; 

        .ids__grid-cell {
            
            padding: 0.3em 1.5em;
        }
    }

}

.brand-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 12vw);
    justify-items: start;
    align-items: center;

    @media #{$ids__mobile} {
        grid-template-rows: repeat(3, 26vw);
    }

        img {
            width: 7em;
            height: 4.4em;
            object-fit: contain;
        }


        .smallest-logo {

            img {
                
                height: 4.5em;
            }
        }

        .bike-ny {

            img {           
                width: 5.5em;
                height: 4.5em;
            }
        }
    }
        

    


    
