
.safety-page {
    a {
        font-weight: 600;
    }
}

.nav-safety {
    display: inline-flex;
    background-color: rgba(var(--ids__accent-RGB), 1);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;

    .nav-block {
     
        margin-right: 0.7em;

        &:hover{
            background-color: #c9ec04 ;
            border-radius: 0.2em;   
        }
    }
}
    
#safe-streets {
    
    
    .ids__grid {
         
        .ids__grid-cell {
            
            img {
                max-width: 23em;
            }
        }
    }
}

#safe-parking {
    
    
        .ids__grid-cell {

        min-width: 15em;
            
            img {
                max-width: 13em;
            }
        }
    
}

#safe-partners {
    
    .ids__grid {
        align-items: center; 

        .ids__grid-cell {
            
            padding: 0.3em 1.5em;
        }
    }

}

