  
.table {
    border: 0.14em solid rgba(var(--ids__text-RGB), 1);
    max-width: 40em;  

    .table-title {
    font-family: monospace;
    border-bottom: 0.1em solid rgba(var(--ids__text-RGB), 1); 
    padding: 0.3em 3em 0.3em 0.4em;
    font-weight: 600;
    }
 }

.table-body {
     display: flex;
 }

 

.table-description {

    .cell {
        border-bottom: 0.14em solid rgba(var(--ids__text-RGB), 1);  
        padding: 0.6em 0 0.1em 0.7em;
        font-weight: 500;

        &:last-child {
            border: none;
        }
    }
  

    .big-description {
        padding: 0.8em 5em 0.3em 0.7em;
        line-height: 0.7em;
        letter-spacing: 0.02em;
        font-size: 1.3em;

        mark {
            background-color: rgba(var(--ids__accent-RGB), 1);
            display: inline-block;
            line-height: 0.4em;
        }
    }

   
}

.table-img {
    border-left: 0.14em solid rgba(var(--ids__text-RGB), 1); 
    max-width: 19em; 
}






