
table{
    th{
        border-bottom: 3px solid black;
        font-size: 3.3em;
        font-family: monospace;
    }
    tr{
        td{
            
        }
    }
    
    
}
.ids__table-td {
    padding: 0;
    border: none;
}

    