.app_badges {
  display: flex;

  @media #{$ids__mobile} {
    max-width: 13.5em;
  } 

  a {
    margin-right: 1em;
  }
}

.banner {
  padding: 2em;
  height: 30em;  
  background-size: cover;
  background-position: center;
}
