
.shift-up {
  margin-top: -35em;
  margin-right: 13em;
  margin-bottom: 10em;
  @media #{$ids__mobile} {
    margin-top: -17em;
  }
  @media (max-width: 1700px) {
    margin-top: -27em;
  }
}

.sticker{
    position: absolute;
    max-width: 8.5em;
    z-index: 1;
    transform: rotate(36deg);
  }
.sticker-main-page {
    right: 2em;
    top: 34em;
}