

.banner {
  padding: 2.5em 4em;
  height: 30em;  
  background-size: cover;
  background-position: center;
}




.parallax-img {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}