.main-page-cover {
  min-height: 30em;
  padding: 1em;
  position: relative;
  border-radius: 0.3em;
}

.shift-up {
  margin-top: -14em;
}

  .sticker{
    position: absolute;
    max-width: 7em;
    z-index: 1;
    right: 0.3em;
    top: 3.8em;
    transform: rotate(18deg);
  }
