.main-page-cover {
  min-height: 30em;
  padding: 1em;
  position: relative;
  border-radius: 0.3em;
}

.shift-up {
  margin-top: -14em;
}

.sticker{
    position: absolute;
    max-width: 8.5em;
    z-index: 1;
    transform: rotate(36deg);
  }
  