.ids__wrapper.ids__full-width.about-location
  figure
    img(src="/images/map.jpeg", alt="map")  
  .about-location-content
    h3 10 countries 
    h3 60 cities 
    .ids__stack.XS
    p and counting…
    .ids__stack.S
    a.ids__button-link-black how we work with cities
    .ids__stack.L
  