.ids__wrapper
  .ids__section.about-app.ids__grid.XXL
    .ids__grid-cell
      figure 
        img(src="/images/lets-ride-hands.jpeg", alt="dowload app")  
    .about-app_icons.ids__grid-cell
      h2 Let’s ride! 
      h3 DOWNLOAD THE SUPERPEDESTRIAN APP TO GET STARTED
        //- h3 Download the Superpedestrian app to get started
      figure 
        img(src="/images/google-play.png", alt="dowload in google play")   
        img(src="/images/app-store-icon.png", alt="dowload in app store")  
  img(src="/images/4screen.png", alt="dowload in google play")   
  .ids__stack.S