footer.on-black
  .ids__wrapper
  
    .ids__grid.ids__grid-size-S.ids__grid-with-gaps
      .ids__grid-cell        
        a(href="") Press
        a(href="") Careers
      .ids__grid-cell
        a(href="") Privacy Policy
        a(href="") Cookie Policy
        a(href="") Terms & Conditions
        
      .ids__grid-cell
        a(href="") Contact
        a(href="") Get Help
      .ids__grid-cell
        a(href="") Copenhagen Wheel
      .ids__grid-cell
        a(href="") Select Language

    .ids__stack.M

    .footer-address
      h4 Superpedestrian HQ
      h4 84 Hamilton St, Cambridge, MA 02139
      .ids__stack.M

      .footer-badges
        a(href="https://www.instagram.com")
          img(src="/images/icon-instagram-w.png", alt="instagram logo")
        a(href="https://www.facebook.com")
          img.small(src="/images/icon-fb-w.png", alt="facebook logo")  
        a(href="https://twitter.com")
          img.small(src="/images/icon-tw-w.png", alt="twitter logo")       
    
    .ids__stack.M