.footer.ids__wrapper.ids__full-width
  .ids__grid.ids__grid-size-M
    .ids__grid-cell
      a.nav-item(href="") Press
      a.nav-item(href="") Careers
    .ids__grid-cell
      a.nav-item(href="") Privacy Policy
      a.nav-item(href="") Cookie Policy
      a.nav-item(href="") Terms & Conditions
    .ids__grid-cell
      a.nav-item(href="") Contact
      a.nav-item(href="") Get Help
    .ids__grid-cell
      a.nav-item(href="") Copenhagen Wheel
    .ids__grid-cell
      a.nav-item(href="") Select Language

  .footer-logo
    a(href='brand')
      img(src="/images/SP-Logo.png", alt=" logo")    
    p Superpedestrian HQ 84 Hamilton St, Cambridge, MA 02139
    p &#169; 2021-2022
  .socials 
    a(href="https://www.instagram.com/snoonu")
      img(src="/images/icon-instagram.png", alt="instagram logo")
    a(href="https://www.facebook.com/snoonu.qa/")
      img.small(src="/images/icons-facebook.png", alt="facebook logo")  
    a(href="https://twitter.com/snoonu_qa")
      img.small(src="/images/icons-twitter.png", alt="twitter logo")       
