.about-app{
    display: flex;
    align-items: center;
    position: relative;  
    
    figure{
      max-width: 25em;
    }
  
  }
  .about-app_icons {
      display: flex;
      flex-direction:column;
      margin-right: 1em;
      padding-top: 4em;
      h2{
        font-size: 6.5em;
        font-family: 'Nothing You Could Do', cursive;
        transform: rotate(333deg);
        text-shadow: 11px 1.2px 0px rgba(var(--ids__accent-RGB), 0.5);
      }
      figure{
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        padding-top: 9em;
        margin-right: 2.5em;
        .google-icon{
          max-width: 12.4em;
        }
        .apple-icon{
          max-width: 10em;
        }
      }
    }