.about-app {




      p {
        letter-spacing: 0.11em;
        line-height: 1.55em;
        text-transform: uppercase;
      }

    

}
.about-app-main-img {


  figure {
  max-width: 45em;
  margin-right: 1em;

    img {
      height: 24em;
      object-fit: cover;
      object-position: 50% 90%;

      @media #{$ids__mobile} {
        height: 24em;
        object-fit: cover;
        object-position: 50% 90%;
      }
    }
  } 
} 




