
footer {
  padding-top: 2em;

  .ids__grid-cell  {
    display: flex;
    flex-direction: column;
    line-height: 2em;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h4 {
    text-align: center;
    opacity: 0.6;
  }
}

.footer-badges {

  display: flex; 

     a {
        border-bottom: none;
        margin-right: 0.4em;


          img {
            max-width: 1.5em;

          }
      }
}

