.ids {
  h1 {
    font-size: 5.1em;
    line-height: 0.85;
    font-weight: 400;
    letter-spacing: -0.015em;
    color: rgba(var(--ids__accent-RGB), 1);
    -webkit-text-stroke: 0.002em #40413e;
    @media #{$ids__mobile} {
      font-size: 3.9em;
    }
  }

  h2 {
    font-size: 3.33em;
    line-height: 1;
    margin-bottom: 0.5em;
    font-weight: 400;
  }

  

  a {
    transition: color 0.8s ease, background-color 0.8s ease,
    border-color 0.8s ease;
    border-bottom: none;

    &:hover {
      transition: color 0s ease, background-color 0s ease;
      border-bottom: none;
    }
    
  }

  a.ids__button-link{
      border:0.5px solid transparent;
    &:hover {    
      border: 0.5px solid black;
      background-color: rgba(var(--ids__hover-RGB), 1);
    }
  }


  a.lead {
    font-size: 1.1em;
    padding: 0.5em 0.8em;
    border: 1px solid rgba(var(--ids__accent-RGB), 1);
    border-radius: 5em;
    color: white;
    cursor: pointer;
    transition: 0.1s background-color linear, 0.1s color linear;

    &:hover {
      transition: color 0.5s ease, background-color 0.9s ease, border-color 0s ease;
      background-color: rgba(var(--ids__text-RGB), 1);
      color: rgba(var(--ids__hover-RGB), 1);
    }
  }
}

a.nav-item{
  margin-right: 1em;
}