table{
    border: 3px solid black;
    th{
        border-bottom: 3px solid black;
        font-size: 3.3em;
        font-family: monospace;
    }
    tr{
        td{
            
        }
    }
    
    
}