include /mixins/a

.ids__wrapper 

  .ids__section.about-safety
    h2 Be smart, be safe 
    .ids__stack.XS
    a.ids__button-link.M Learn more
    .ids__stack.XS
    .ids__grid.XL 
      .ids__grid-cell.about-safety-grid-cell
        img(src="images/zigzag1.png", alt="zigzag")
        ul
          li Always wear a helmet
          li One person per vehicle
          li Don't ride under the influence
          li You must be 18+ to ride
      .ids__grid-cell.about-safety-grid-cell
        img(src="images/zigzag1-2.png", alt="zigzag")
        ul
          li Follow traffic laws and street signs
          li Let pedestrians go first
          li Ride in the bike lane when available
          li Ride with traffic on one-way streets
      .ids__grid-cell.about-safety-grid-cell
        img(src="images/zigzag1-2.png", alt="zigzag")
        ul
          li Use the kickstand to park upright
          li Keep walkways clear 
          li Don’t block curb cuts, access ramps, doors, or loading docks
          li Keep bus stops clear
  .ids__stack.XS


  