.ids__wrapper 

    .ids__section.about-app
      .about-app_icons 
        h2 LET’S RIDE
        figure 
          img(src="/images/google-play.png", alt="dowload in google play")   
          img(src="/images/app-store-icon.png", alt="dowload in app store")  
      figure 
        img(src="/images/app-phone.JPG", alt="dowload app")  