.ids__wrapper
  .about-app.ids__grid.XXL
    .ids__grid-cell.about-app-main-img
      figure 
        img(src="/images/app-phone.jpg", alt="dowload app")  
    .ids__grid-cell
      h2 Let’s ride! 
      .ids__stack.XS
      h3 DOWNLOAD THE SUPERPEDESTRIAN APP TO GET STARTED
        //- h3 Download the Superpedestrian app to get started
      .ids__stack.XS
      figure.about-app_icons
        img(src="/images/google-play.png", alt="dowload in google play")   
        img(src="/images/app-store-icon.png", alt="dowload in app store")  
  .ids__stack.S
  img(src="/images/4screen.png", alt="dowload in google play")   
  .ids__stack.S