include /mixins/a

.ids__wrapper 

  .ids__section.about-safety
    h2 Be smart, be safe 
    .ids__stack.XS
    a(href="/vacancies/safety").ids__button-link.M Learn more
    .ids__stack.XS
    .ids__grid.L 
      .ids__grid-cell.about-safety-grid-cell
        a(href="") 
          img(src="images/safe-riders-phone.jpg", alt="safe riders")
        //- ul
        //-   li Always wear a helmet
        //-   li One person per vehicle
        //-   li Don't ride under the influence
        //-   li You must be 18+ to ride
      .ids__grid-cell.about-safety-grid-cell
        a(href="") 
          img(src="images/safe-streets-phone.jpg", alt="safe riders")
        //- ul
        //-   li Follow traffic laws and street signs
        //-   li Let pedestrians go first
        //-   li Ride in the bike lane when available
        //-   li Ride with traffic on one-way streets
      .ids__grid-cell.about-safety-grid-cell
        a(href="") 
          img(src="images/safe-parking-phone.jpg", alt="safe riders")
        //- ul
        //-   li Use the kickstand to park upright
        //-   li Keep walkways clear 
        //-   li Don’t block curb cuts, access ramps, doors, or loading docks
        //-   li Keep bus stops clear
  .ids__stack.XS


  