.ids__wrapper 
    .ids__stack.M
    .ids__section.about-vehicles
      h2 Vehicles
      .ids__stack.XS
      .ids__text
        p Our vehicles are engineered for riders of different ages, sizes, and experience levels, including accessible vehicles for people with disabilities.
        .ids__stack.XS
        a.ids__button-link.M Learn more
        .ids__stack.S
    .vehicles-images  
      a(href="") 
        img(src="images/scooter.png", alt="scooter")
      a(href="") 
        img(src="images/scooter-seat.png", alt="scooter-seat")