

.app_badges
    .app_badge
        a(href="#")
            img(src="/images/google-play.png", alt="dowload in google play")
    .app_badge
        a(href="#")
            img(src="/images/app-store-icon.png", alt="dowload in app store")  