.footer.ids__wrapper
  .ids__stack.XS
  
  .ids__grid.ids__grid-size-M.ids__grid-inset-M 
    .ids__grid-cell
      a.nav-item-black(href="") Press
      a.nav-item-black(href="") Careers
    .ids__grid-cell
      a.nav-item-black(href="") Privacy Policy
      a.nav-item-black(href="") Cookie Policy
      a.nav-item-black(href="") Terms & Conditions
      
    .ids__grid-cell
      a.nav-item-black(href="") Contact
      a.nav-item-black(href="") Get Help
    .ids__grid-cell
      a.nav-item-black(href="") Copenhagen Wheel
    .ids__grid-cell
      a.nav-item-black(href="") Select Language
  .ids__stack.S
  .footer-address
    p Superpedestrian HQ
    p 84 Hamilton St, Cambridge, MA 02139
    .ids__stack.M
    .socials 
      a(href="https://www.instagram.com")
        img(src="/images/icon-instagram-w.png", alt="instagram logo")
      a(href="https://www.facebook.com")
        img.small(src="/images/icon-fb-w.png", alt="facebook logo")  
      a(href="https://twitter.com")
        img.small(src="/images/icon-tw-w.png", alt="twitter logo")       
  .ids__stack.S