.footer.ids__wrapper.ids__full-width
  .link-and-logo
    .links
      a(href="tel:31112215") Call us 
      a(href="#vacancies") Vacancies 
      a(href="") Become a partner 
    .footer-logo
      a(href='brand')
        img(src="/images/SP-Logo.png", alt=" logo")    
      p Superpedestrian HQ 84 Hamilton St, Cambridge, MA 02139
      p &#169; 2021-2022
  .socials 
    a(href="https://www.instagram.com/snoonu")
      img(src="/images/icon-instagram.svg", alt="instagram logo")
    a(href="https://www.facebook.com/snoonu.qa/")
      img.small(src="/images/icons-facebook.svg", alt="facebook logo")  
    a(href="https://twitter.com/snoonu_qa")
      img.small(src="/images/icons-twitter.svg", alt="twitter logo")       
