footer.on-black
  .ids__wrapper
  
    .ids__grid.ids__grid-size-M.ids__grid-with-gaps

      .ids__grid-cell
        .nav       
          a(href="") Press
        .nav
          a(href="") Careers
      .ids__grid-cell
        .nav
          a(href="") Privacy Policy
        .nav
          a(href="") Cookie Policy
        .nav
          a(href="") Terms & Conditions
        
      .ids__grid-cell
        .nav
          a(href="") Contact
        .nav
          a(href="") Get Help

      .ids__grid-cell
        .nav
          a(href="") Copenhagen Wheel

      .ids__grid-cell
        .nav
          a(href="") Select Language

    .ids__stack.S

    .footer-address
      h4 Superpedestrian HQ
      p 84 Hamilton St, Cambridge, MA 02139
      .ids__stack.S

      .footer-badges

        a(href="https://www.instagram.com")
          img(src="/images/icon-inst.svg", alt="instagram logo")
        a(href="https://www.facebook.com")
          img.small(src="/images/icon-f.svg", alt="facebook logo")  
        a(href="https://twitter.com")
          img.small(src="/images/icon-tw.svg", alt="twitter logo")       
    
    .ids__stack.M