include /mixins/a

header
  nav
    .nav-item
      +a.logo-container(href="/")
        img(src="/images/sp-logo-w.png", alt="Superpedestrian logo")   
    .nav-item
      a.js-scroll-link.ids__hover-RGB(href="#main_about") Company
    .nav-item
      a.js-scroll-link(href="#main_work") Ride
    .nav-item
      a.js-scroll-link(href="#vacancies") Tech
    .nav-item
      a.js-scroll-link(href="#vacancies") Cities
    .nav-item
      a.js-scroll-link(href="#vacancies") Blog
  //- nav 
  //-   .nav-item
  //-     a(href="/")
  //-       img.logo-search(src="/images/Magnifier_icon.png", alt="Magnifier")  
  
