include /mixins/a

header
  +a.logo-container(href="/")
    img(src="/images/SP-Logo.png", alt="Superpedestrian logo")   
  nav 
    .dropdown
      a.nav-item(href='#') Company
      .dropdown-content
        a(href='#') About
        a(href='#') Team
        a(href='#') Sustainability
        a(href='#') Reports
    .dropdown
      a.nav-item(href='#') Ride
      .dropdown-content
        a(href='#') Locations
        a(href='#') How to Ride
        a(href='#') Safety
        a(href='#') Rider Programs
    .dropdown
      a.nav-item(href='#') Tech
      .dropdown-content
        a(href='#') Vehicles
        a(href='#') What's Inside
    a.nav-item(href='#') Cities
    a.nav-item(href='#') Blog 
    a.search
      img(src="images/magnifier.png", alt="magnifier")
  
  
