include /mixins/a

header
  +a.logo-container(href="/")
    img(src="/images/SP-Logo.png", alt="Superpedestrian logo")   
  nav 
    .dropdown
      a.nav-item(href='#') Company
      .dropdown-content
        a(href='#') ABOUT
        a(href='#') TEAM
        a(href='#') SUSTAINABILITY
        a(href='#') REPORTS
    .dropdown
      a.nav-item(href='#') Ride
      .dropdown-content
        a(href='#') LOCATIONS
        a(href='#') HOW TO RIDE
        a(href='#') SAFETY
        a(href='#') RIDER PROGRAMS
    .dropdown
      a.nav-item(href='#') Tech
      .dropdown-content
        a(href='#') VEHICLES
        a(href='#') WHAT'S INSIDE
    a.nav-item(href='#') Cities
    a.nav-item(href='#') Blog 
  img.sticker(src="images/sticker-removebg.png", alt="safe-ride-sticker")
  
  
