include /mixins/a

header
  +a.logo-container(href="/")
    img(src="/images/SP-Logo-Black.svg", alt="Superpedestrian logo")   
  nav 
    .dropdown
      a.nav-item(href='#') Company
      .dropdown-content
        a(href='#') About
        a(href='#') Team
        a(href='#') Sustainability
        a(href='#') Reports
    .dropdown
      a.nav-item(href='#') Ride
      .dropdown-content
        a(href='#') Locations
        a(href="/links/how-to-ride") How to Ride
        a(href='/links/safety') Safety
        a(href='#') Rider Programs
    .dropdown
      a.nav-item(href='#') Tech
      .dropdown-content
        a(href='/links/vehicles') Vehicles
        a(href='#') What's Inside
    a.nav-item(href='#') Cities
    a.nav-item(href='#') Blog 
    a.search  
    
      
  
  
