//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Marketing  ·  Doha, Qatar  ·  Full time 
//-     h3 Content & PR Executive
//-     p As a Content & PR Executive you will be responsible for content creation, Arabic-English-Arabic translation and PR activities. You will also be responsible for our Affiliates and influencer program. 
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Marketing  ·  Doha, Qatar  ·  Full time 
//-     h3 PR & Communications Executive
//-     p As a PR & Communications Executive you will be responsible for: Plan, implement and manage public relations strategies        
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Administration  ·  Doha, Qatar  ·  Full time  
//-     h3 'Mahara' Management Program
//-     p You will jump into a fast-paced, goal driven culture from day one and have the opportunity to see yourself working and getting where you want to be.         
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Administration  ·  Doha, Qatar  ·  Full time  
//-     h3 Internship Program
//-     p An Internship at Snoonu is more than a summer- eak job or a CV booster. As our intern you will gain real-life exposure through hands-on learning and the opportunity to  ing your unique perspective into life.         
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Partnerships  ·  Doha, Qatar  ·  Full time  
//-     h3 Business Partner Lead
//-     p Some of what you'll be doing: Actively approach targeted business clients. Search for new client leads.        
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Partnerships  ·  Doha, Qatar  ·  Full time  
//-     h3 Category Lead - FMCG
//-     p Generate sales among partner accounts, including upselling and cross-selling. Operate as the point of contact for assigned partners.        
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Human Resources  ·  Doha, Qatar  ·  Full time  
//-     h3 Talent Acquisition & HR Executive
//-     p  Handle the management, maintenance and continuous improvement of the talent acquisition processes (tech and non-tech), including planning, sourcing, assessing and reporting.         
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Human Resources  ·  Doha, Qatar  ·  Full time  
//-     h3 Shopper
//-     p Receive orders in Snoonu dashboard and ensuring that the status is updated. Ensure all orders are prepared on time without delay.         
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Human Resources  ·  Doha, Qatar  ·  Full time  
//-     h3 Trainer - Operations
//-     p The Main Purpose of your role is to: Support and conduct all training initiatives for our frontline soldiers-Snooners.         
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Human Resources  ·  Doha, Qatar  ·  Full time  
//-     h3 Technical Recruiter
//-     p As our Tech Recruiter you will be identifying, outsourcing and attracting the best and most suitable tech talents for Snoonu.         
//-     .false-button Learn more

//- .vacancy-promo-box
//-   a.vacancy-promo(href="/vacancies/content-pr-executive")   
//-     p.vacancy-promo-caption Business Intelligence  ·  Doha, Qatar  ·  Full time  
//-     h3 Data Analyst / Business Intelligence
//-     p Supporting overall operations by analyzing, improving and optimizing organization performance. Interpreting data and analyzing results         
//-     .false-button Learn more


