extends /layouts/main.pug

block meta
  +meta(title="Superpedestrian", description="Superpedestrian website")

block content
  
  .ids__wrapper.ids__full-width 
    .banner(style="background-image: url('/images/main-img-girl.png')")
      h2 Let’s ride!
      p Download the Superpedestrian app to get started
      .app_badges
        a(href="#")
          img(src="/images/google-play.png", alt="dowload in google play")
        a(href="#")
          img(src="/images/app-store-icon.png", alt="dowload in app store")  

      
      //- a.ids__button-link Locations

      //- ABOUT APP
    
  .ids__wrapper
    .ids__stack.S
    figure
      img(src="/images/4screen.png", alt="dowload in google play")   

      //- ABOUT SAFETY

  .ids__wrapper.ids__edge-to-edge 
    .banner(style="background-image: url('/images/girl-scooter-helmet.jpeg')")
      .ids__stack.S
      h2.black Ride safe
      .ids__stack.XS
      a.button-link.invert(href="/links/safety") Designed for safety
  .ids__stack.M

      //- ABOUT LOCATION  

  .ids__wrapper
    .ids__grid.ids__grid-inset-M  
      .ids__grid-cell
        img(src="/images/map.jpeg", alt="world map with superpedestrian cities shown")

      .ids__grid-cell 
        h3 10 countries<br>60 cities 
        .ids__stack.XS
        p and counting…
        .ids__stack.S
        a.ids__button-link how we work with cities
      
      
    
  .ids__stack.M
  

      //- include /partials/about-us




  