include /mixins/meta
block meta
  +meta(title="Vehicles")
doctype html

html
  head
    block meta
      +meta()

    block stylesheets
      link(rel='stylesheet', href=assetPath('/assets/main.css'))
      link(rel="icon", href="/favicon-s.png" )
      link(rel="stylesheet" href="style/slider-def.css")
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet")
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  body.ids
    block header
      include /partials/header
    

    .ids__wrapper.ids__text
        .ids__stack.XS
        h2 Vehicles
        .ids__text
            p Our vehicles are engineered for riders of different ages, sizes, and experience levels, including accessible vehicles for people with disabilities.
        .ids__stack.XS
    .ids__full-width
        figure 
            img(src="/images/scooters.jpeg", alt="scooters")

    .ids__stack.XS
    .ids__wrapper
        .table
            h3.table-title  The Superpedestrian Scooter
            .table-body
                .table-description
                    .cell.big-description
                        p  Designed to be the 
                        p  world’s 
                            mark smartest, 
                        p safest e-scooter
                    .cell
                        p   Powerful throttle-controlled assist
                    .cell
                        p   Wider, longer base for stability
                    .cell
                        p   High-visibility lights and reflector
                    .cell
                        p   Long-range battery
                    .cell
                        p   Weight capacity of 297 lbs
                .table-img
                    img(src="/images/scooter.png", alt="scooter")
        //- .table 
        //-     .tr
        //-         .th
        //-             h2 The Superpedes.trian Scooter
                
        //-     .tr
        //-         .td
        //-             h4 Designed to be the world’s smartest, safest e-scooter
        //-         .td-img
        //-             img(src="/images/scooter.png", alt="scooter")

        //-     .tr
        //-         .td  
        //-     .tr
        //-         .td Powerful throttle-con.trolled assist
        //-     .tr
        //-         .td Wider, longer base for stability
        //-     .tr
        //-         .td High-visibility lights and reflector
        //-     .tr
        //-         .td Long-range battery
        //-     .tr 
        //-         .td Weight capacity of 297 lbs

        .ids__stack.M


    .ids__stack.M
    block footer
        include /partials/footer

    block javascripts
        script(src=assetPath('/assets/main.js'))