extends /layouts/main.pug

block meta
  +meta(title="Content & PR Executive", description="Snoonu", og-image="/images/IMG_0202.jpg")


block content       
  .ids__wrapper.ids__full-width 
    .main-page-cover.in-red
  .ids__wrapper.shift-up
    p.in-red Marketing  ·  Doha, Qatar  ·  Full time 
    .ids__stack.XS
    h1.in-red Content & PR Executive
    .ids__stack.XS
    .ids__text
      aside
        h3 Who we are? 
        p <br>We are leaders in the field with ambition in what we do and how we impact.<br>We believe that everyone's contributions are important.<br> We empower our team to create without limit and think big.<br> We embrace and learn from mistakes, and bounce back stronger.<br>We coach, we listen, we act. 
        h3 <br>We are 
          span Snoonu

    section.description
      h3 As a Content &#38; PR Executive you will be responsible for content creation, Arabic-English-Arabic translation and PR activities. You will also be responsible for our Affiliates and influencer program. 
      h2 <br>What to do
      ul 
        li Organize and manage Public Relations activities
        li Measure and produce reports on PR KPIs and each PR campaign
        li Use different channels to optimize campaign's reach and success
        li Research opportunities for sponsorships
        li Build relationships with journalists and influencers
        li Developing content for social media and presentations
        li Assisting the Marketing team in developing content for advertising campaigns
      h2 <br>What you need to join us
      ul 
        li Fluent Arabic and English
        li Previous working experience in PR
        li BSc/BA in PR, communications, journalism or similar relevant field
        li Excellent communication, presentation and leadership skills
        li Proven content writing or copywriting experience
        li Working knowledge of content management systems
      h2 <br>What we offer
      ul 
        li Comfortable office 
        li A high salary, which we review every six months
        li Medical and life insurance cover
        li Discretionary bonus scheme
      .vacancy-page-hr-card 
        figure 
          img(src="/images/hr.svg", alt="hr reading cv")
        .hr-card-text-wrap
          p Feel free to contact us about the position and we'll respond by the end of the day. In the same time frame we will tell you the decision after the interview. 
          .vacancy-links
            a(href="mailto: hello@snoonu.com") e-mail
            a(href="https://wa.me/+97431112215") WhatsApp
      a(href="/partials/vacancies") all vacancies
    

